body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

/* MENU */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 40px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: orange;
}

nav a {
    color: white;
    margin-left: 22px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

/* MỤC 1 – HERO */
.hero {
    height: 100vh;
    background: url('images/dao.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px #000;
}

.hero-text p {
    font-size: 20px;
    opacity: 0.9;
}

/* CÁC SECTION KHÁC */
.section {
    padding: 120px 60px;
    background: #111;
    border-bottom: 1px solid #333;
}

.section h2 {
    color: orange;
    font-size: 32px;
}
