/* RESET CƠ BẢN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 80px;  /* chừa chỗ cho header cố định */
    font-family: Arial, sans-serif;
    background:
        linear-gradient(#f8f6ef, #f8f6ef),
        url("background_1.jpg") no-repeat center center;
    background-size:cover;
    background-attachment: fixed;
    color: #333;

}

/* HEADER - THANH MENU */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 30px;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* LOGO */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
}

/* MENU NAV */
header nav {
    display: flex;
    gap: 40px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 4px;
    transition: 0.3s;
}

header nav a:hover {
    color: orange;
    border-bottom: 2px solid orange;
    animation: menuBounce 0.6s ease;
    transform: translateY(-8px);
}

/* KEYFRAMES NẢY - NẢY LÊN RỒI QUAY VỀ VỊ TRÍ CŨ */
/*
@keyframes menuBounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-6px); }
    50%  { transform: translateY(0); }
    70%  { transform: translateY(-3px); }
    100% { transform: translateY(0); }
} 
*/

/* HERO SECTION (Mục Giới thiệu) */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #ccc;
}



/* CÁC SECTION NỘI DUNG CHUNG */
.section {
    /*padding: 60px 40px;*/
    scroll-margin-top: 100px;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
}

.section p {
    font-size: 17px;
    color: #ccc;
}


/* SCROLL MƯỢT */
html {
    scroll-behavior: smooth;
}

/* Nền trời xanh nhạt */
.sky-background {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #b3e5fc 0%, #e1f5fe 40%, #ffffff 100%);
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
}

/* Tạo các đám mây */
.cloud {
  position: absolute;
  background: rgba(255, 255, 255, 0.35); /* mây rất nhạt */
  border-radius: 50%;
  filter: blur(20px);
}

/* Các đám mây đặt sẵn vị trí */
.cloud1 {
  width: 200px; height: 80px;
  top: 80px; left: 10%;
}

.cloud2 {
  width: 160px; height: 60px;
  top: 200px; left: 60%;
}

.cloud3 {
  width: 250px; height: 90px;
  top: 350px; left: 30%;
}

/* Gioi thieu */
.two-column {
    display: flex;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.left-poem, .right-description {
    flex: 1;
    text-align: left;
}

.left-poem {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.right-description {
    font-size: 18px;
    color: #444;
    text-align: center;
}
