header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 25px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar {
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
