/* RESET CƠ BẢN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 90px;  /* chừa chỗ cho header cố định */
    font-family: Arial, sans-serif;
    background:
        linear-gradient(#f8f6ef, #f8f6ef),
        url("background_1.jpg") no-repeat center center;
    background-size:cover;
    background-attachment: fixed;
    color: #333;

}

/* HEADER - THANH MENU */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* LOGO */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: orange;
}

/* MENU NAV */
header nav {
    display: flex;
    gap: 25px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 4px;
    transition: 0.3s;
}

header nav a:hover {
    color: orange;
    border-bottom: 2px solid orange;
    animation: menuBounce 0.6s ease;
    transform: translateY(-8px);
}

/* KEYFRAMES NẢY - NẢY LÊN RỒI QUAY VỀ VỊ TRÍ CŨ */
/*
@keyframes menuBounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-6px); }
    50%  { transform: translateY(0); }
    70%  { transform: translateY(-3px); }
    100% { transform: translateY(0); }
} 
*/

/* HERO SECTION (Mục Giới thiệu) */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #ccc;
}



/* CÁC SECTION NỘI DUNG CHUNG */
.section {
    padding: 60px 40px;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
}

.section p {
    font-size: 17px;
    color: #ccc;
}


/* SCROLL MƯỢT */
html {
    scroll-behavior: smooth;
}
